body{
    overflow-x: hidden;
    margin: 0 5% 0 5%;
}

.logo{
    font-family: 'Libre Franklin', sans-serif;
    width: 150px;
    position: absolute;
    margin-left: 40px;
    text-align: left;
    font-size: 2em;
    z-index: 10000;  
    color:#3c4b9e;  
 }

.menu {
    width: 100vw;
    height: 50px;
    margin-top:20px;
    line-height: 40px;

}

nav a {
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    color: rgba(24, 2, 65, 0.692);
    padding: 10px 25px;
    
}

nav :hover{
    color: black;
    padding-bottom: 2px;
}

nav{
    width:90vw;
    height: 80px;
    color: rgba(24, 2, 65, 0.692);
    font-size: 15px;
    text-align: right;

}   


.h1{
    
    font-family: 'Libre Franklin', sans-serif;
    font-size: 5rem;
}

.text{
    
    padding-left: 50px;
    margin-top:70px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #8b8a8a;

}


.img {
    width: 45vw;
    height: 30%;
    margin-top:0;
    margin-right:20px;
    float: right;
}

.btn_login, .btn_login:hover{
     background: #2932a7;
     text-decoration: none;
     border-radius: 4px;
     color: #f6f6fc;
     margin-left: 10%;
     font-size: 12px;
     padding:8px ;
}


.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: rgb(75, 83, 126);
    border: solid 2px rgb(75, 83, 126);
    border-radius: 3px;
    transition: .4s;
    margin: 30px 0;
}

.btn-flat-border:hover {
     background: rgb(255, 255, 255, 0.3);
     color: rgb(EB, F2, EA, 0.5);
}

.bottom{
     display: flex;
     width:100vw;
     height: 20vh;
     float: left;
     flex-direction: row;
     margin: 30px 3% 30px 5%;
    
     font-family: 'Roboto', sans-serif;
     font-size: 12px;

}

.home, .sorting, .contact {
    width: 25%;
    margin-right: 3%;
}

.icon{

    width: 25px;
    height: 25px;
}

.bottom span{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    overflow: auto;
    color: black;
  
}

.bottom a{
    text-decoration: none;
    color: gray;
}

.footer{
    width: 100%;
    height:40px;
    position:absolute;
    text-align: center;
    line-height: 40px;

}

    small{
        color: rgb(110, 108, 121);
    }

@media only screen and (max-width:650px) {
    body{
        overflow-x: hidden;
        margin: 0 1% 1% 1%;
    }

    nav a {
        font-family: 'Libre Franklin', sans-serif;
        text-decoration: none;
        color: rgba(24, 2, 65, 0.692);
        padding: 10px 10px;
        
    }

    .logo{

        margin-left: 20px;

     }

     .menu {
        width: 100vw;

    
    }

     nav{
        width:100vw;
        text-align: center;
        margin-left: 10%;
        
    
    }  

     .btn_login, .btn_login:hover{
        margin-left: 10px;

     }

     .bottom{

        margin: 30px 0 30px 10%;
    }
   
    .card1, .card2, .card3{
        width: 300px;
        display: block; 
        margin: 30px auto;
 
    }
 
}